@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg: #222831;
	--color-bg-alt: #393E46;
	--color-accent: #00ADB5;
	--color-text: #EEEEEE;

	color: var(--color-text);
	background-color: var(--color-bg);

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}